.App {
  text-align: left;
}

.App-header {
  background-color: #b1b0af;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(5, 5, 5);
  padding: 15px;
}

.App-header img {
  width: 75px;
}

.table {
  width: 100%;
}

.table td {
  border: .5px solid #ddd;
  padding: 8px;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #b1b0af;
  color: rgb(8, 8, 8);
  border: 1px solid #ddd;
  padding: 8px;
}

.table img {
  width: 35px;
}

.search {
  width: 250px;
  height: 25px;
  text-align: left;
  margin: 20px;
}

.line-code img{
  width: 20px;
}

.service-type img {
  width: 20px;
  margin-bottom: 2px;
  margin-left: 2px;
}